<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.40" targetFramework="net48" />
  <package id="Ical.Net" version="4.2.0" targetFramework="net48" />
  <package id="NodaTime" version="3.0.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="97.0.4692.7100" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
</packages>